# Ignore everything
*

#
!.gitignore
!README.md
!init.lua

#
!core/
!core/actions/
!core/actions/clean.lua
!core/logger.lua
!core/common.lua
!core/paths_builder.lua
!core/project.lua
!core/utils.lua
!core/workspace.lua